<p id="notice"><%= notice %></p>

<div class="arrow-nav"><h1><%= link_to "Rankings", sports_path %></h1></div>
<div class="arrow-nav sport-name"><h1><%= @sport.name %></h1></div>

<div class="home-container">
  <div class="description-container">
    <%= image_tag('logo.png') %>
    <p>
      <%= @sport.description %>
    </p>
  </div>
  <div class="ranking-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Player Name</th>
          <th>Rank</th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% @sport.players.uniq.each do |player| %>
          <tr>
            <td><%= link_to player.name, player %></td>
            <td>
              <%= @sport.rankedPlayerPosition(player.id) %> 
            </td>
            <td> <%= link_to "Challenge!", new_match_path(:idNum => player.id) %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  
