<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne<%= sport.id %>">
          Recent Matches
        </a>
      </h4>
    </div>
    <div id="collapseOne<%= sport.id %>" class="panel-collapse collapse in">
      <div class="panel-body">
        <ul>
          <% Player.find(User.find(current_user.id)).last_ten(sport.id).each do |match| %>
            <% if match.winner_id != Player.find(User.find(current_user.id)).id and !match.winner_id.nil?  %>
              <li>LOST - <%= link_to Player.find(match.player_one_id).proper_name + " vs " + Player.find(match.player_two_id).proper_name, match%></li>
            <% elsif match.winner_id == Player.find(User.find(current_user.id)).id and !match.winner_id.nil? %>
              <li>WON - <%= link_to Player.find(match.player_one_id).proper_name + " vs " + Player.find(match.player_two_id).proper_name, match%></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo<%= sport.id %>">
          Requested Challenges <span class="badge"><%= Player.find(User.find(current_user.id)).get_your_challenges(sport.id).length %></span>
        </a>
      </h4>
    </div>
    <div id="collapseTwo<%= sport.id %>" class="panel-collapse collapse">
      <div class="panel-body">
        <% Player.find(User.find(current_user.id)).get_your_challenges(sport.id).each do |match| %>
            <li><%= link_to Player.find(match.player_one_id).proper_name + " vs " + Player.find(match.player_two_id).proper_name, match%></li>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree<%= sport.id %>">
          Incoming Challenges <span class="badge"><%= Player.find(User.find(current_user.id)).get_challenges_to_you(sport.id).length %></span>
        </a>
      </h4>
    </div>
    <div id="collapseThree<%= sport.id %>" class="panel-collapse collapse">
      <div class="panel-body">
        <% Player.find(User.find(current_user.id)).get_challenges_to_you(sport.id).each do |match| %>
            <li><%= link_to Player.find(match.player_one_id).proper_name + " vs " + Player.find(match.player_two_id).proper_name, match%></li>
        <% end %>
      </div>
    </div>
  </div>
</div>