<% if signed_in? %>
	<div class="dashboard-container">
		<h1>Your Sports</h1>
		<ul class="sports-list">
			<% player_match_ids = [] %>
			<% Player.find(User.find(current_user.id)).get_matches.each do |match| %>
				<% player_match_ids.push(match.sport_id) %>
			<% end %>
			<% Sport.alphabetical.all.each do |sport| %>
				<% if player_match_ids.uniq.include?(sport.id) %>		
					<div class="arrow-container" onclick="clicked(<%=sport.name%>, this);">
						<li class="sport"><%=sport.name%></li>
					</div>
				<% end %>
			<% end %>
		</ul>
		<% Sport.alphabetical.all.each do |sport| %>
			<% if player_match_ids.uniq.include?(sport.id) %>
				<div class="sport-info" id="<%=sport.name%>">
					<h1 class="inline">Your Score</h1><div class="inline sport-score"><%=sport.rankedPlayerPosition(Player.find(User.find(current_user.id)).id)%></div>
					<%= render :partial => 'accordion', :locals => { :sport => sport } %>				
					
				</div>
			<% end %>
		<% end %>
	</div>
<% else %>
	<script type="text/javascript">
		window.location.href="/users/new"
	</script>
<% end %>

<script>
	function clicked(id, that) {
		$('.sport-info').hide();
		$(id).show();
		$('.arrow-container').removeClass('active');
		$(that).addClass('active');
	}
	$('.sport-info').hide();
</script>