<% provide(:title, @user.email) %>

<div class="home-container">
  <div class="logo-container">
    <%= image_tag('logo.png') %>
    <%= image_tag('logo-written.png') %>
  </div>
  <div class="profile-container">
    <% player = Player.where(:user_id => @user.id).first %>

	<h1><%= player.first_name + " " + player.last_name %></h1>

	<p id="notice"><%= notice %></p>

	<p>
	  <strong>First name:</strong>
	  <%= player.first_name %>
	</p>

	<p>
	  <strong>Last name:</strong>
	  <%= player.last_name %>
	</p>



	<p>
	  <strong>Phone:</strong>
	  <%= player.phone %>
	</p>

	<p>
	  <strong>Zip:</strong>
	  <%= player.zip %>
	</p>

	<% if @user!=current_user %>

	<br></br>
	<%= link_to "Challenge?", newmatch_path(:foo_param => player.id) %>

	<% end %>
  </div>
</div>


