<div class="home-container">
  <div class="logo-container">
    <%= image_tag('logo.png') %>
    <%= image_tag('logo-written.png') %>
  </div>
  <div class="signup-container">
    <h1>Sign Up</h1>
    <%= form_for(@player) do |f| %>

      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name, "Last Name"%>
      <%= f.text_field :last_name %>

      <%= f.label :phone, "Mobile Number"%>
      <%= f.text_field :phone %>

      <%= f.label :zip, "Zip Code"%>
      <%= f.text_field :zip %>


      <%= f.submit "Create Player", class: "btn btn-large btn-custom" %>
    <% end %>
  </div>
</div>
