<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @player.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @player.last_name %>
</p>



<p>
  <strong>Phone:</strong>
  <%= @player.phone %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @player.zip %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %>
