<h1>Challenge</h1>

<%= form_for(@match) do |f| %>
      <!--<%= render 'shared/error_messages' %>-->

      <%= f.label :location%>
      <%= f.text_field :location %>

      <%= f.label :sport_id%>
      <%= f.select :sport_id, Sport.all.collect {|sport| [ sport.name, sport.id ] } %>

      <%= f.hidden_field :player_two_id, :value => params[:idNum] %>


      <%= f.submit "Challenge", class: "btn btn-large btn-primary" %>

      <% end %>